<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/users/edit/<%=data.id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Username</td><td>: <input type="text" name="username" value="<%=data.username%>" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">password</td><td>: <input type="password" name="password" value="<%=data.password%>" required></td>
                </tr>
                <tr>
                    <td class="label">Phone</td><td>: <input type="text" value="<%=data.phone%>" name="phone" required></td>
                </tr>
                <tr>
                    <td class="label">Email</td><td>: <input type="email" value="<%=data.email%>" name="email" required></td>
                 </tr>
                  <tr>
                    <td class="label">Language</td>
                    <td>
                    	<select class="input-medium" id="language" name="language" value="<%=data.language%>">
            				<option value="">Select</option>
            				<option value="Fr">Francais</option>
            				<option value="En">English</option>
            				<option value="Sp">Spanish</option>
            				<option selected><%=data.language%></option>
        				</select>
        			</td>
        		 <tr>
                    <td class="label">Note</td><td valign="top">: <textarea name="note" cols="30" rows="5"><%=data.note%> </textarea></td>
                 </tr>	
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                       <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
