<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addUser();"><img src="/../images/add-icon.png"></button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Language</th>
                    <th>Note</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                 for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].username%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].language%></td>
                    <td><%=data[i].note%></td>
                    <td>
                        <a class="a-inside edit" href="../users/edit/<%=data[i].id%>"><img src="/../images/edit-icon.png"></a>
                       
                        <a class="a-inside delete" href="../users/del/<%=data[i].id%>"><img src="/../images/delete-icon.png"></a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
